#menu{
    width: 345px;
    height: 1071px;
}
#menu>div{
    width: 299px;
    height: 72px;
}
#choose{
    border-radius: 40px 0 0 40px;
}
#interact{
    width: 1522px;
    height: 1071px;
    gap: 20px;
}
#interact1{
    width: 1098px;
    height: 80px;
}
#heading{
    width: 227px;
    height: 54px;
    font-size: 36px;
}
#search{
    width: 350px;
    height: 60px;
    border-radius: 40px;
}
#interact2{
    width: 1572px;
    height: 1071px;
}
#interact3{
    width: 1098px;
    height: 867px;
}
#meal{
    width: 917px;
    height: 239px;
    display: flex;
    justify-content: space-between;
}
#meal>img{
    width: 316px;
    height: 239px;
}
#mealName{
    width: 500px;
    height: 233px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
#mealName>h2{
    width: 342px;
    height: 36px;
    font-size: 24px;
}
#mealName>div{
    width: 120px;
    height: 41px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}
#mealName>p{
    width: 508px;
    height: 81px;
    font-size: 18px;
}
#stat{
    width: 652px;
    height: 67px;
}
#ingredient{
    width: 508px;
    height: 308px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
#nutrition{
    width: 486px;
    height: 276px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
#ingredient>ul {
    width: 508px;
    height: 256px;
    list-style-type: disc;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
#nutrition>ul{
    width: 486px;
    height: 224px;
    list-style-type: disc;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
#interact4{
    width: 337px;
    height: 867px;
}
#interact4>div{
    margin-left: 40px
}